<!DOCTYPE html>

{% extends "kineticapp/base_album.html" %}
    {% block body_block %}

    {% load static %}
<main>

<!-- INTRO TO ALBUM/INFO ABOUT PAGE -->

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Graphic Design Album</h1>
          <hr>
          <p class="lead text-muted">Being a part of a toy factory's graphic design team is no joke. 
            These years have been tough, my beard has grown long and and thick, and the bags under my eyes have darkened. 
            Fortunately, my graphic design skills have grown tremendously. 
            Check out below some of my graphic design work.</p>
          <p>
            <a href="{% url 'kineticapp:illustrations' %}" class="btn btn-secondary my-2">To the illustrations page</a>
            <a href="{% url 'kineticapp:characters' %}" class="btn btn-secondary my-2">To the character design page</a>
          </p>
          <hr>
        </div>
      </div>
    </section>
    
  
<!-- the for loop allows for the thumbnails to loop through uploaded images from the admin page. 
  this will connect to the images in each respective folder. 
      The src is image.url in order to display the image in the webpage. This is connected to the urls.py in the project. -->

<div class="container bg-light">


  <div class="row">
    {% for graphic in graphics %}

      <div class="col-lg-4 col-sm-6 img-thumbnail">
        <img class="img-fluid" src="{{graphic.image.url}}" alt="Graphics">
      </div>
      
    {% empty %}
      <h3>Nothing to see here...</h3>
    {% endfor %}
  </div>
</div>

<br><br><br><br>

</main>


{% endblock %}