<!DOCTYPE html>

{% extends "kineticapp/base_album.html" %}
    {% block body_block %}

    <br><br>
    

  <div class="container p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-center">Success!!!</h1>

      <p class="fs-4" style="text-align: center;">Alex has received your contact information and will contact you as soon as possible! 
        In the mean time, feel free to check out some of his work on social media!</p>

        <div class="container text-center">
        <a href="https://www.facebook.com/kineticpop/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/kineticpopart" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/kineticpop/" class="fa fa-instagram"></a>
        <a href="https://www.twitch.tv/kineticpop" class="fa fa-twitch"></a>
        <a href="https://www.linkedin.com/in/alex-porcayo-1309a9178" class="fa fa-linkedin"></a>
        </div>
    </div>
  </div>

  <br><br>


{% endblock %}